/* HEIGHT BREAKPOINTS */

@media only screen and (max-height: 1440px) {
	/* NAV */

	.fixed-nav {
		height: 4vh;
	}
	
	.static-nav {
		height: 4vh;
	}
}

@media only screen and (max-height: 1080px) {
	/* NAV */

	.fixed-nav {
		height: 5vh;
	}
	
	.static-nav {
		height: 5vh;
	}
}

@media only screen and (max-height: 700px) {
	/* NAV */

	.fixed-nav {
		height: 8vh;
	}
	
	.static-nav {
		height: 8vh;
	}
}

/* DESKTOP / LAPTOP RESPONSIVE CSS */

@media only screen and (max-width: 2560px) {
	/* NAV */


		
	/* HOME */

	 
	
	/* FEATURED */

	

	/* ABOUT */

	#about .profile-img {
		width: 350px;
	}

	#about p {
		font-size: 2.2em;
	}
}

@media only screen and (max-width: 2300px) {
	/* ABOUT */

	#about .profile-img {
		width: 300px;
	}

	#about p {
		font-size: 2.2em;
	}
}

@media only screen and (max-width: 2200px) {
	/* ABOUT */

	#about p {
		font-size: 2em;
	}
}

@media only screen and (max-width: 2000px) {
	.master-width{
		width: 70%;
	}

	/* HOME */

	#home {
		height: 35vh;
	}

	/* ABOUT */

	#about .profile-img {
		width: 250px;
	}

	#about p {
		font-size: 1.8em;
	}
	
	.icon-row img{
		width: 8%;
	}

	/* PROJECTS */
}

@media only screen and (max-width: 1700px) {
	.master-width{
		width: 80%;
	}

	/* NAV */

}

@media only screen and (max-width: 1600px) {
	
	/* ABOUT */
		
	#about .master-width {
		padding: 60px 0;
	}

	#about p {
		font-size: 1.8em;
	}

}

@media only screen and (max-width: 1500px) {
	/* FEATURED */

	.featured-image{
		height: 50%;
		width: 50%;
	}

	.featured p {
		font-size: 1.5em;
		line-height: 30px;
	}
	
	/* ABOUT */

	#about .icon-row {
		width: 90%;
	}

	#about .icon-row img {
		width: 10%;
	}

	#about p {
		font-size: 1.7em;
	}
}

@media only screen and (max-width: 1400px) {
	/* NAV */


	
	/* ABOUT */
	
	.vertical-spread {
		padding: 0 0 0 40px;
		width: 90%;
	}

	#about h1 {
		font-size: 3em;
	}

	#about p {
		font-size: 1.5em;
	}

	#about .icon-row img {
		width: 10%;
	}

	/* PROJECTS */

	.project h3 {
		font-size: 1.8em;
	}

	.project h1 {
		padding-top: 8px;
	}

	.project p {
		font-size: 1.6em;
		line-height: 35px;
		padding-top: 20px;
	}
}


@media only screen and (max-width: 1300px) {
	
	.button {
		font-size: 1.1em;
	}

	.title {
		font-size: 1.2em;
	}

	.master-width{
		width: 80%;
	}

	/* HOME */

	#home {
		height: 45vh;
	}

	#home h1 {
		font-size: 3.6em;
	}

	#home h2 {
		padding-bottom: 20px;
		font-weight: 300;
		font-size: 1.2em;
	}

	/* NAV */

	
	
	/* FEATURED */

	.featured-image {
		width: 50%;
		height: 325px;
	}

	.featured-image img {
		transform: scale(1.75);
	}
	
	.featured .align-items-center {
		display: flex;
		flex-direction: row;
		margin: 50px 0;
	}

	.featured p {
		font-size: 1.4em;
		line-height: 30px;
	}

	.featured h1 {
		font-size: 2.3em;
	}

	.featured h3 {
		font-size: 1.3em;
	}

	/* ABOUT */

	#about .img-cont{
		width: 40%;
	}

	#about p {
		line-height: 35px;
	}

	.icon-row {
		width: 90%;
	}

	.icon-row img {
		width: 12%;
	}

	/* PROJECTS */

	.projects .title {
		font-size: 3.6em;
		padding-top: 60px;
		padding-bottom: 0;
	}

	.projects hr {
		border: solid #fff 2px;
		margin: 5px 0 0 0 auto;
	}

	.project-tag-cont {
		padding: 0 0 10px 0;
	}

	.project-tag-cont .tag {
		font-size: 0.9em;
	}

	.project {
		width: 5500px;
		height: 400px;
	}

	.project p {
		font-size: 1.4em;
		line-height: 32px;
		padding: 0 0 0 0;
	}

	.project h4 {
		font-size: 1.2em;
	}

	.project-header {
		height: 125px;
	}

	.project-header h1 {
		font-size: 2.2em;
		padding-top: 5px;
		margin-bottom: 5px;
	}

	.project-header h3 {
		font-size: 1.5em;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.tag h5 {
		font-size: 1em;
	}
}

/* TABLET RESPONSIVE CSS */

@media only screen and (max-width: 1200px) {
	
	
	/* NAV */



	/* HOME */

	#home {
		height: 50vh;
	}

	/* FEATURED */

	.featured .tag h5 {
		font-size: 0.9em;
	}

	.featured p {
		font-size: 1.2em;
		line-height: 25px;
	}

	.featured-image {
		width: 70%;
		height: 70%;
	}

	/* ABOUT / CONTACT */	
	
	#about p {
		line-height: 30px;
	}

	/* PROJECTS */

	.project-header{
		height: 135px;
	}

	.project-header h1 {
		padding: 5px 0 0 0;
		font-size: 2.6em;
	}

	.project-header h3 {
		font-size: 1.8em;
	}

	.project {
		width: 70%;
	}
	
	.project p {
		font-size: 1.5em;
	}
	
	.project h4 {
		font-size: 1.6em;
	}

	.project br {
		line-height: 0;
		margin: 0;
		padding: 0;
	}

	.project img {
		transform: scale(1.8);
		transition: 1s;
	}

	.project:hover img {
		transform: scale(1.75);
	}

	.project-tag-cont .tag {
		font-size: 1.1em;
	}

	/* FOOTER */


}

@media only screen and (max-width: 1100px) {
	
	
	/* NAV */



	/* FEATURED */



	/* ABOUT */	
	
	.icon-row img {
		width: 12%;
	}

	#about .img-cont{
		width: 40%;
	}

	#about p {
		font-size: 1.4em;
	}

	#about .master-width {
		padding: 40px 0;
	}

	/* PROJECTS */

	.projects .title {
		font-size: 3.2em;
		padding-top: 60px;
	}

	.projects hr {
		margin: 0 auto;
		border: solid #fff 2px;
	}

	.project-row {
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project {
		width: 70%;
		margin: 0 0 40px 0;
	}

	/* FOOTER */


}

@media only screen and (max-width: 1000px) {
	/* GENERAL */

	.tag {
		font-size: 0.85em;
	}

	.button{
		font-size: 1em;
	}

	/* NAV */

	#navbar a{
		padding: 0 20px;
	}

	/* FEATURED */

	.featured h1 {
		font-size: 2.3em;
	}

	.featured h3 {
		font-size: 1.2em;
	}

	.featured p{
		font-size: 1.3em;
		line-height: 26px;
		padding: 5px 0 15px 0;
	}

	.featured-image {
		width: 400px;
		height: 350px;
	}

	.featured-image img {
		transform: scale(1.75);
	}
}


/* MOBILE */


@media only screen and (max-width: 700px) {
	/* FOOTER */

	

	/* PROJECTS SECTION */

	

	/* HOME / TITLE SECTION */

	
}

@media only screen and (max-height: 850px) and (min-width: 1200px) {
	
}