/* HEIGHT BREAKPOINTS

@media only screen and (max-height: 1440px) {
	/* NAV 

	.fixed-nav {
		height: 4vh;
	}
	
	.static-nav {
		height: 4vh;
	}
}

@media only screen and (max-height: 1080px) {
	/* NAV 

	.fixed-nav {
		height: 5vh;
	}
	
	.static-nav {
		height: 5vh;
	}
}

@media only screen and (max-height: 900px) {
	/* NAV 

	.fixed-nav {
		height: 6vh;
	}
	
	.static-nav {
		height: 6vh;
	}

	.mob-fixed-nav {
		height: 8vh;
	}
	
	.mob-static-nav {
		height: 8vh;
	}
}

@media only screen and (max-height: 750px) {
	/* NAV 

	.fixed-nav {
		height: 8vh;
	}
	
	.static-nav {
		height: 8vh;
	}
}*/

/* DESKTOP / LAPTOP RESPONSIVE CSS */

@media only screen and (max-width: 2560px) {
	/* NAV */


		
	/* HOME */

	 
	
	/* FEATURED */

	

	/* ABOUT */

	#about .profile-img {
		width: 350px;
	}

	#about p {
		font-size: 2.2em;
	}

	/* PROJ PAGES */

	.proj-page-width {

	}
}

@media only screen and (max-width: 2300px) {
	/* ABOUT */

	#about .profile-img {
		width: 300px;
	}

	#about p {
		font-size: 2em;
	}
}

@media only screen and (max-width: 2200px) {
	/* ABOUT */

	#about p {
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 2000px) {
	.master-width{
		width: 70%;
	}

	/* HOME */

	.home {
		height: 400px;
	}

	/* ABOUT */

	#about .profile-img {
		width: 300px;
	}

	#about p {
		font-size: 1.6em;
	}
	
	.icon-row img{
		width: 8%;
	}

	/* PROJECTS */
}

@media only screen and (max-width: 1800px) {

	/* ABOUT */

	#about .icon-row img{
		width: 9%;
	}

}

@media only screen and (max-width: 1700px) {
	.master-width{
		width: 80%;
	}

	/* NAV */



	/* PROJ PAGES */

	.proj-page-width {
		width: 60%;
	}

}

@media only screen and (max-width: 1600px) {
	
	/* ABOUT */
		
	#about .master-width {
		padding: 60px 0;
	}

	#about p {
		font-size: 1.6em;
	}

	#about .profile-img {
		width: 25%;
	}

}

@media only screen and (max-width: 1500px) {
	
	/* FEATURED */

	.featured-image{
		height: 360px;
		width: 50%;
	}

	.featured p {
		font-size: 1.4em;
		line-height: 30px;
	}
	
	/* ABOUT */

	#about .icon-row {
		width: 90%;
	}

	#about .icon-row img {
		width: 11%;
	}

	#about p {
		font-size: 1.5em;
	}

	/* PROJ PAGES */

	.proj-overview {
		font-size: 0.95em;
	}

	.project {
		height: 450px;
	}

	.project-body p {
		padding: 5px 0 0 0;
		line-height: 35px;
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 1400px) {
	/* NAV */


	
	/* ABOUT */
	
	.vertical-spread {
		padding: 0 0 0 40px;
		width: 90%;
	}

	#about h1 {
		font-size: 3em;
	}

	#about p {
		font-size: 1.5em;
	}

	#about .icon-row img {
		width: 10%;
	}

	/* PROJECTS */

	.project h3 {
		font-size: 1.8em;
	}

	.project p {
		font-size: 1.6em;
		line-height: 35px;
		padding-top: 20px;
	}

	/* PROJ PAGES */

	.proj-page-width {
		width: 65%;
	}

	.team-member img {
		width: 65%;
	}

	.team-member .bubble-icon {
		width: 45px;
		height: 45px;
		font-size: 0.8em;
	}
}


@media only screen and (max-width: 1300px) {
	
	.button {
		font-size: 1.1em;
	}

	.title {
		font-size: 1.2em;
	}

	.master-width{
		width: 80%;
	}

	/* HOME */

	.home {
		height: 300px;
	}

	.home h1 {
		font-size: 3.6em;
	}

	.home h2 {
		padding-bottom: 20px;
		font-weight: 300;
		font-size: 1.2em;
	}

	.move-up {
		top: 0;
	}

	/* NAV */

	#navbar {
		height: 45px;
	}
	
	/* FEATURED */

	.featured-image {
		width: 50%;
		height: 325px;
	}

	.featured-image img {
		transform: scale(1.75);
	}
	
	.featured .align-items-center {
		display: flex;
		flex-direction: row;
		margin: 50px 0;
	}

	.featured p {
		font-size: 1.4em;
		line-height: 30px;
	}

	.featured h1 {
		font-size: 2.3em;
	}

	.featured h3 {
		font-size: 1.3em;
	}

	.side-info {
		padding: 0 0 0 35px;
	}

	/* ABOUT */

	#about .img-cont{
		width: 40%;
	}

	#about p {
		line-height: 35px;
		font-size: 1.4em;
	}

	.icon-row {
		width: 90%;
	}

	.icon-row img {
		width: 12%;
	}

	/* PROJECTS */

	.projects .title {
		font-size: 3.6em;
		padding-top: 0;
	}

	.project-tag-cont {
		padding: 0 0 10px 0;
	}

	.project-tag-cont .tag {
		font-size: 0.9em;
	}

	.wide-project .project-body p {
		font-size: 1.8em !important;
		line-height: 40px !important;
	}

	.project {
		width: 5500px;
		height: 400px;
	}

	.project p {
		font-size: 1.4em;
		line-height: 32px;
		padding: 0 0 0 0;
	}

	.project h4 {
		font-size: 1.2em;
	}

	.project-header {
		height: 125px;
	}

	.project-header h1 {
		font-size: 2.2em;
	}

	.project-header h3 {
		font-size: 1.5em;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.tag h5 {
		font-size: 1em;
	}

	/* PROJ PAGES */

	.proj-page-width {
		width: 70%;
	}
}

/* TABLET RESPONSIVE CSS */

@media only screen and (max-width: 1200px) {
	
	.tag-cont {
		margin: 0;
	}

	.img-page-break img {
		transform: scale(0.75);
	}
	
	/* NAV */



	/* HOME */

	.home {
		height: 40vh;
	}

	/* FEATURED */

	.featured .tag h5 {
		font-size: 0.9em;
	}

	.featured p {
		font-size: 1.2em;
		line-height: 25px;
		padding: 5px 0 15px 0;
	}

	.featured-image {
		width:  45%;
		height: 300px;
	}

	/* ABOUT */	
	
	#about p {
		font-size: 1.3em;
		line-height: 35px;
	}

	#about .icon-row img {
		width: 12%;
	}

	/* PROJECTS */

	.project-header{
		height: 135px;
	}

	.project-header h1 {
		font-size: 2.6em;
	}

	.project-header h3 {
		font-size: 1.8em;
	}

	.project {
		height: 400px;
		width: 70%;
	}
	
	.project p {
		font-size: 1.5em;
	}
	
	.project h4 {
		font-size: 1.6em;
	}

	.project br {
		line-height: 0;
		margin: 0;
		padding: 0;
	}

	.project img {
		transform: scale(1.8);
		transition: 1s;
	}

	.project:hover img {
		transform: scale(1.75);
	}

	.project-tag-cont .tag {
		font-size: 1em;
	}

	/* FOOTER */



	/* PROJ PAGES */

	.proj-page-width {
		width: 80%;
	}

	.home .move-up-100 {
		top: 0;
	}

	.proj-links {
		margin: 50px 0 0 0;
	}

	.proj-links .button {
		margin: 0 15px;
	}

	.proj-overview {
		padding:  0;
	}
}

@media only screen and (max-width: 1100px) {
	
	.title-line {
		width: 65%;
	}
	
	/* NAV */



	/* FEATURED */



	/* ABOUT */	
	
	#about .profile-img {
		width: 25%;
	}

	.icon-row img {
		width: 12%;
	}

	#about .img-cont{
		width: 40%;
	}

	#about p {
		font-size: 1.2em;
		line-height: 30px;
	}

	#about .master-width {
		padding: 40px 0;
	}

	/* PROJECTS */

	.projects .title {
		font-size: 3.2em;
		padding-top: 0px;
	}

	.project-row {
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project {
		width: 100%;
		margin: 0 0 40px 0;
	}

	.project img {
		transform: scale(1.2);
	}

	.project:hover  img {
		transform: scale(1.25);
	}

	.wide-project {
		width: 70% !important;
	}

	.wide-project p {
		font-size: 1em !important;
		line-height: 25px !important;
	}

	.team-member h5 {
		font-size: 1.2em;
	}

	/* FOOTER */


}

@media only screen and (max-width: 1000px) {
	/* GENERAL */

	.tag {
		font-size: 1em;
	}

	.button{
		font-size: 1em;
	}

	.master-width {
		width: 90%;
	}

	/* NAV */

	

	/* FEATURED */

	.featured h1 {
		font-size: 2.3em;
	}

	.featured h3 {
		font-size: 1.2em;
	}

	.featured p{
		font-size: 1.25em;
		line-height: 28px;
		padding: 10px 0 15px 0;
	}

	.featured-image {
		width: 450px;
		height: 350px;
	}

	.featured-image img {
		transform: scale(1.75);
	}

	.side-info {
		padding: 0 0 0 35px;
	}

	/* ABOUT */	
	
	#about .profile-img {
		width: 25%;
	}

	.icon-row img {
		width: 12%;
	}

	#about .img-cont{
		width: 40%;
	}

	#about p {
		font-size: 1.1em;
		line-height: 25px;
	}

	#about .master-width {
		padding: 40px 0;
	}

	/* HOME */

	.home-banner .move-up img {
		top: 0;
	}

	.home-banner img {
		top: 0;
	}
	
	/* PROJECT PAGES */

	.proj-details {
		font-size: 1em;
	}

	.proj-contributions {
		font-size: 0.9em;
	}
}


@media only screen and (max-width: 900px) {
	.proj-overview {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.proj-details {
		font-size: 1.2em;
		width: 100%;
	}

	.proj-contributions {
		font-size: 1.1em;
		margin: 30px 0 0 0;
		width: 100%;
	}

	.proj-links {
		margin: 40px 0 0 0;
		padding: 0;
	}
}


/* MOBILE */


@media only screen and (max-width: 800px) {
	.tag {
		background-color: #797979;
	}

	.img-page-break img {
		transform: scale(0.5);
	}

	.title-line {
		margin: 10px auto;
		width: 65%;
	}
	
	.master-width {
		width: 90%;
	}

	.proj-page-width {
		width: 90%;
	}

	.button {
		font-size: 1.2em;
		border-width: 2px;
	}

	.move-up-100 {
		top: 0;
	}

	.move-up-75 {
		top: 0;
	}

	/* NAV */

	.mobile-nav .nav-contents {
		font-size: 1em;
	}

	#navbar a {
		padding: 0;
	}

	.mobile-nav .nav-contents i {
		margin: 0 7px 0 0;
		transform: scale(var(--ggs, 1.75));
	}
	
	.mob-home-content h1 {
		line-height: 50px;
		font-size: 2.6em;
		font-weight: 500;
		padding: 0 !important;
	}
	
	/* FEATURED */

	.featured {
		padding: 0 0 25px 0;
	}

	.featured .align-items-center {
		flex-direction: column;
		margin: 20px 0 60px  0;
	}

	.featured-image {
		height: 300px;
		width: 100%;
		margin: 0 0 25px 0;
		box-shadow: none;
	}

	.featured .tag h5 {
		font-size: 1.2em;
	}

	.featured h1 {
		font-size: 2.5em;
		margin: 0 0 10px 0;
	}

	.featured h3 {
		font-size: 1.4em;
	}

	.featured .side-info {
		align-items: flex-start;
		width: 100%;
		padding: 80px 0 0 0;
	}

	.featured .side-info p {
		font-size: 1.5em;
		line-height: 35px;
	}

	.featured .side-info h3 {
		margin: 0 0 0 0;
	}
	
	/* ABOUT */

	#about {
		padding: 75px 0 0 0;
	}

	#about .master-width {
		padding: 0;
	}

	#about .icon-row {
		justify-content: space-between;
		margin: 5px auto 20px auto;
		width: 100%;
	}

	.profile-img {
		display: flex;
		align-items: center;
		
		width: 100% !important;
		height: 350px;
		overflow: hidden;
		border-radius: 15px !important;
		margin: 20px 0 10px 0;
	}

	.profile-img img {
		position: relative;
		top: -125px;
		width: 100%;
	}

	.vertical-spread {
		align-items: flex-start;

		width: 100%;
		text-align: left;
		padding: 0;
		margin: 0 auto;
	}

	.vertical-spread h1 {
		padding: 0;
	}
	
	#about p {
		font-size: 1.6em;
		line-height: 37px;
	}

	#about h1 {
		font-size: 3.5em;
	}

	/* FOOTER */

	.bubble-icon {
		width: 65px;
		height: 65px;
	}

	footer h1 {
		font-size: 1.8em;
	}

	footer a {
		font-size: 1.2em;
	}

	/* PROJECTS SECTION */

	.proj-page {
		align-items: flex-start;
	}

	.proj-overview {
		padding: 0;
	}

	.project-row {
		width: 100%;
	}

	.project {
		width: 100%;
	}

	.team-names {
		margin: 60px 0 0 0;
	}

	.team-member {
		width: 50%;
	}

	.mob-project .project-img {
		box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.555);
	}

	.proj-links {
		font-family: 'Poppins', sans-serif;
		flex-direction: column;
		align-items: flex-start;
		margin: 25px 0 0 0;
	}

	.proj-links a {
		color: #272727;
		font-size: 1.8em;
		font-weight: 600;
		background-color: rgba(255, 158, 3, 0.2);
		border-bottom: solid 3px #e99000;
		border-radius: 5px;
		padding: 15px;
		margin: 15px 0;

		transition: 0.4s;
	}

	.proj-links a:hover {
		border-radius: 15px;
		background-color: rgba(255, 158, 3, 0.4);
		color: #e99000;
		margin-left: 10px;
	}

	/* HOME / TITLE SECTION */

	.mob-home-content {
		padding: 6% 0;
	}

	.home {
		height: 30vh;
	}

	.home-banner img {
		top: 0;
	}
}

@media only screen and (max-width: 600px) {
	
	/* ABOUT */
	
	#about .icon-row img{
		padding: 5px 0;
		width: 110px;
	}
		
	/* FOOTER */

	

	/* PROJECTS SECTION */

	.mob-project h2 {
		font-size: 1.8em;
	}

	/* HOME / TITLE SECTION */

}

@media only screen and (max-width: 500px) {
	
	/* NAV */

	.mobile-nav {
		height: 80px;
	}

	.mobile-nav .nav-contents i {
		transform: scale(var(--ggs, 1.4));
	}

	.mobile-nav .nav-contents a {
		font-size: 1.2em;
	}

	#nav-overlay .nav-contents {
		padding: 35px 25px;
		margin-top: 10px;
	}

	/* FOOTER */



	/* PROJECTS SECTION */

	.mob-project h1 {
		font-size: 2.8em;
	}

	.mob-project h2 {
		font-size: 1.5em;
	}
	
	.mob-project p {
		font-size: 1.4em;
	}

	.mob-project img {
		object-fit: cover;
		height: 300px;
	}

	/* ABOUT */

	.profile-img {
		height: 250px;
	}

	.profile-img img {
		top: -10vh;
	}
	
	#about .icon-row img{
		padding: 5px 0;
		width: 90px;
	}

	/* HOME / TITLE SECTION */

	.mob-home-content h1 {
		font-size: 2.2em;
	}
}

@media only screen and (max-width: 415px) {
	
	/* NAV */

	.mob-static-nav {
		height: 85px !important;
	}

	.mob-fixed-nav {
		height: 65px !important;
	}

	.mobile-nav .nav-contents a {
		font-size: 1.1em;
	}

	.mobile-nav .nav-contents i {
		transform: scale(var(--ggs, 1.1));
	}

	#nav-overlay .nav-contents {
		padding: 25px 25px;
		margin-top: 5px;
	}

	/* FOOTER */

	.bubble-icon {
		width: 52px;
		height: 52px;
	}

	.bubble-icon i {
		font-size: 1.28em;
	}

	footer h1 {
		font-size: 1.8em;
	}

	footer a {
		font-size: 1.1em;
	}

	/* PROJECTS SECTION */

	.mob-project h1 {
		font-size: 2.4em;
	}

	.mob-project h2 {
		font-size: 1.25em;
	}

	.mob-project p {
		font-size: 1.2em;
	}

	.mob-project img {
		object-fit: cover;
		height: 225px;
	}
	
	/* ABOUT */
	
	#about .icon-row img{
		padding: 0px 0;
		width: 75px;
	}

	/* HOME / TITLE SECTION */

	.mob-home-content h1 {
		font-size: 2em;
		line-height: 40px;
	}
}

@media only screen and (max-width: 350px) {
	
	/* FOOTER */

	.bubble-icon {
		width: 48px;
		height: 48px;
	}

	.bubble-icon i {
		font-size: 1.24em;
	}

	/* PROJECTS SECTION */

	
	/* ABOUT */
	
	#about .icon-row img{
		width: 65px;
	}

	/* HOME / TITLE SECTION */

	.mob-home-content h1 {
		font-size: 1.8em;
	}
}