.profilehtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ABOVE IS CSS RESET */



/* OTHER CSS IS BELOW */



/* BASE ELEMENTS & SETUP */



body
{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
		color: #161616 !important;
		background-size: cover;
		background-attachment: fixed;

		text-rendering: optimizeLegibility;
}

html
{
		scroll-behavior: smooth;
}

hr
{
		padding: 1px 0;
		background: #131313;
    width: 100%;
}

li
{
		font-size: 1.4em !important;
}

.slideshowFont
{
		font-family: 'Josefin Sans', sans-serif;
}

.width
{
		width: 60%;
}



/* CSS ANIMATIONS */



/* TYPE CLASSES AND FORMATTING */



.leftText
{
		text-align: left;
}



/* GENERAL FORMATTING AND SPACING */



.padTop-20
{
		padding-top: 20px;
}

.padTop-40
{
		padding-top: 40px;
}

.padR-50
{
		padding-right: 50px !important;
}

.padR-75
{
		padding-right: 75px !important;
}

.padBottom-20
{
		padding-bottom: 20px;
}

.padBottom-40
{
		padding-bottom: 40px;
}

.padBottom-10
{
		padding-bottom: 10px;
}

.pad-40
{
		padding: 40px;
}

.spaced
{
		padding: 0 0 25px 0;
}

.listSpaced
{
		padding: 0 0 6px 0;
}

.alignRight
{
		display: flex;
		justify-content: flex-end;
}

.alignLeft
{
		display: flex;
		justify-content: flex-start;
}

.alignCenter
{
		display: flex;
		justify-content: center;
}

.center
{
		margin: 0 auto;
		text-align: center;
}

.column
{
		display: block;
}



/* OVERLAY EFFECTS */



.overlayCont a
{
		position: relative;
		display: block;
}

.overlayCont img
{
		width: 100%;
		border-radius: 20px;
		transition: 0.3s ease;
}

.overlayCont:hover img
{
		transition: 0.3s ease;
		border-radius: 45px;
}

.overlayCont:hover .overlay
{
		transition: 0.3s ease;
		border-radius: 45px;
		opacity: 1;
		color: #fff;
}

.overlay
{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  opacity: 0;
	  transition: .3s ease;
		border-radius: 20px;
	  background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
}

.overlay h1
{
	  margin: 0;
}

.largeOverlay
{
		font-size: 2em !important;
}

.imgBorder
{
		border: 3px solid black;
}



/* BUTTONS */



.button
{
		font-size: 1.1em;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 1px;
		margin: 0 15px 0 15px;
    color: #ff7a00;
		font-weight: bold;
    padding: 12px 25px;
    transition: color .5s ease;
		transition: .3s;
    border: solid 2px #ff7a00;
    text-decoration: none;
		border-radius: 100px;
}

.button:hover
{
    background: #ff7a00;
    text-decoration: none;
    color: white;
}

.whiteButton
{
		margin: 30px 20px;
		color: #fff;
		border-color: #fff;
}

.whiteButton:hover
{
    background: #fff;
    text-decoration: none;
    color: #000;
}

.projectButton
{
		border-radius: 50;
		margin-left: 0;
		margin-right: 25px;
}

.projectButton:hover
{
		color: white;
}



/* TITLE SECTION */



.home
{
    display: flex;
    align-items: center;
		justify-content: center;
		text-align: center;
		background: #ffffff;
		color: #161616;
		margin: 0 auto;
		padding: 250px 0;
		height: 85vh;
}

.homeText
{
    margin: 0 auto;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
    padding: 10px 0 10px 0;
		line-height: 45px;
    font-size: 1.4em;
		color: #323232;
		width: 65%;
}

.homeHeader
{
		font-family: 'Josefin Sans', sans-serif;;
	  letter-spacing: 0px;
    font-size: 4em;
		font-weight: 700;
		color: #000;
}

.slideshow
{
    display: flex;
    align-items: center;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background: #161616;
}

.carousel
{
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.carousel img
{
		height: 80vh;
		object-fit: cover;
}

.centerBox
{
		padding-top: 0px;
		padding-left: 0px;
    width: 95%;
}

.columnBox
{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
}

.carousel-caption h1
{
		font-size: 3em;
}



/* -----NAVIGATION------ */



#navbar
{
		font-family: 'Josefin Sans', sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(20, 20, 20, 1);
		box-shadow: 0px 0px 10px #000000;
		height: 55px;
		margin: 0 auto;
		width: 100%;
		position: fixed;
    z-index: 1;
		top: 0px;
		transition: top 0.3s;
}

.navCont
{
		width: 100%;
		margin: 0 auto;
		font-size: 0.95em;

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
}

.navName
{
		font-size: 1.7em;
		font-weight: 500;
		line-height: 0;
		margin: 20px 0;
		padding: 20px 0;
}

nav a
{
    padding: 5px 25px;
    font-size: 1.2em;
		color: #fff;
    transition: .15s;
}

nav a:hover
{
    color: #ff902a;
    transition: .3s;
}

a:hover
{
		text-decoration: none !important;
}



/* FOOTER / CONTACT */



.about
{
		display: flex;
		flex-direction: column;

		color: #fff;
		font-family: 'Josefin Sans', sans-serif;
		margin: 0 auto;
		padding: 40px 0 20px 0;
		width: 50%;
}

.contact
{
		color: #fff;
		margin: 0 auto;
}

.contactInfo
{
		font-family: 'Josefin Sans', sans-serif;
		text-align: left;
		padding: 0;
}

.contactItem
{
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		padding: 0px 0;
		color: #9e9e9e;
		transition: 0.2s ease;
}

.contactItem i
{
		font-size: 1.4em;
		padding: 0 15px 0 0;
}

.contactItem h6
{
		font-size: 1.2em;
}

.contact .subTitle
{
		font-family: 'Raleway', sans-serif;
		font-size: 1.8em;
		font-weight: 700;
		letter-spacing: 0px;
		margin-top: 0px;
		margin-bottom: 15px;
}

footer
{
		background: #0d0d0d;
		color: #FFF;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: light;
}

.subFooterCont
{
		margin: 0 auto;
		width: 45%;
		padding-bottom: 40px;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
}

.footerCont
{
		margin: 0 auto;
		padding: 20px 0 15px 0;
		width: 35%;
		color: #aaaaaa;

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
}

.footerElement
{
		padding: 10px;
		margin: 0 auto;
	 	text-align: left;
}

.icons
{
		width: 80%;
		font-size: 1.1em;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 0 15px 0;
}

.contactInfo .subTitle
{
		font-family: "Josefin Sans", sans-serif;
		font-size: 2em;
		font-weight: 500;
		padding: 30px 0 0 0;
}

.contact .title
{
		font-size: 2.9em;
		font-weight: 500;
		font-family: Josefin Sans;
		padding: 50px 0 0 0;
		margin: 0 auto;
}

.iconText
{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 15px;
		color: #fff;
		transition: 0.2s ease;
}

.iconText i
{
		width: 15px;
		height: 15px;
		margin-right: 10px;
		border-radius: 0;
		transition: 0.2s ease;
		color: white;
}

.link:hover i
{
		transition: 0.2s ease;
		color: #16c0ff;
}

.link:hover
{
		transition: 0.2s ease;
		color: #16c0ff;
}

.toTop
{
		padding: 20px 0 0 0;
}



/* PROJECTS */



.projects
{
		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		background: #ffffff;
		color: #161616;
		margin: 0 auto;
		padding: 60px 0;
}

.projectPage
{
		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		color: #161616;
		margin: 0 auto;
		padding: 30px 0;
}

.team
{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 75%;
}

.overview .team h5
{
		padding: 8px 0;
		font-weight: 400 !important;
		line-height: 30px;
}

.center
{
		margin: 0 auto;
		text-align: center;
}

.line
{
		background: #ff9a22;
		padding: 0.5px;
}

.imageBreak
{
		width: 100%;
		margin: 20px 0;
		border-radius: 20px;
}

.descriptionRow
{
		width: 100%;
		padding: 10px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.overview
{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		padding: 20px 0;
		color: #fff;
}

.overview .subTitle
{
		padding-top: 50px;
		font-size: 2.5em !important;
		font-weight: bold;
}

.overview .link
{
		margin: 0 0px 0 5px;
		color: white;
}

.projectPage .title
{
		margin-bottom: 0;
		margin-top: 120px;
		color: #fff;
}

.projectPage .subTitle
{
		color: #fff;
		font-size: 2em;
}

.overview h5, li
{
		font-weight: 300;
}

.overview strong
{
		font-weight: 700;
}

.projectPage p
{
		text-indent: 40px;
}

.padTop
{
		padding-top: 40px;
}

.paragraph
{
		width: 100%;
		padding: 30px 0;
}

.paragraph p
{
		font-family: 'Work Sans',sans-serif;
		font-size: 1.05em !important;
		line-height: 28px;
		color: #323232;
}

.projectCont
{
		display: flex;
		flex-direction: row;
}

.projectItem
{
		padding: 60px 20px;

		display: flex;
		flex-direction: row;
}

.black
{
		width: 100%;
		background: #0d0d0d;
}

.darkBlack
{
		width: 100%;
		background: #090909;
}

.description
{
		display: flex;
		flex-direction: column;
		width: 100%;
}

.leftDisplay
{
		text-align: left;
		padding-right: 50px;
}

.rightDisplay
{
		text-align: left;
		padding-left: 50px;
}

.description p
{
		padding-top: 10px;
		font-size: 1.2em;
		text-align: left;
}

.projectVis a
{
		position: relative;
		display: block;
}

.projectVis img
{
		width: 100%;
		border-radius: 20px;
		transition: 0.3s ease;
}

.projectVis:hover img
{
		transition: 0.3s ease;
		border-radius: 45px;
		filter: blur(1px);
}

.projectVis:hover .overlay
{
		transition: 0.3s ease;
		border-radius: 45px;
		opacity: 1;
		color: #fff;
}

.projects .buttonFlex
{
		justify-content: flex-start;
		padding-top: 10px;
}

.download
{
		background: #ffffff;
		width: 300px;
		text-align: center;
		border: solid 2px #ff8b20;
		padding: 20px 1px;
		font-size: 0.6em;
		display: block;
		color: white;
}

.download h5
{
		margin: 0;
}

.download:hover a
{
		background: #ffffff;
		color: #ffffff;
		font-size: 0.6em;
		display: block;
		color: white;
}

.overlaySubText
{
		color: #bbbbbb;
}

.title
{
    font-size: 4em;
		font-weight: 700;
		letter-spacing: 0px;
    text-align: center;
    margin-top: 25px;
		margin-bottom: 25px;
}

.subTitle
{
    font-size: 2.5em;
		font-weight: 700;
		letter-spacing: 0px;
    margin-top: 0px;
		margin-bottom: 0px;
}

li
{
		font-size: 1em;
}
