html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ABOVE IS CSS RESET */


/* NOMRAL CSS IS BELOW */



body
{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
		color: #161616 !important;
		background-size: cover;
		background-attachment: fixed;
}



/* -----HOMEPAGE----- */



header
{
    display: flex;
    align-items: center;
    margin: 0;
    text-align: left;
}

header img
{
    width: 150px;
}

.home hr
{
		width: 100%;
		border: solid 0.5px #989898;
		margin: 50px 0 ;
}

.home
{
    display: flex;
    align-items: center;
		text-align: center;
		background: #ffffff;
		color: #161616;
		width: 60%;
		margin: 0 auto;
		margin-top: 80px;
		padding: 250px 0;
}

.slideshow
{
    display: flex;
    align-items: center;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background: #161616;
}

.carousel
{
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.centerBox
{
		padding-left: 0px;
    width: 95%;
}

.centerHeader
{
    margin: 0;
    letter-spacing: 2px;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
    padding-bottom: 5px;
    font-size: 4.5em;
}

.header
{
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
		font-weight: bold;
    padding: 15px;
    font-size: 4em;
		text-align: center;
}

.centerSubHeader
{
		font-family: 'Raleway', sans-serif;;
	  letter-spacing: 0px;
    font-size: 2em;
		font-weight: lighter;
}

.columnBox
{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
}

.leftText
{
		font-size: 1.3em;
		text-align: left;
		width: 60%;
}

.rightText
{
		font-size: 1.3em;
		text-align: left;
		width: 30%;
}

.buttonFlex
{
		font-family: 'Raleway', sans-serif;
    display: flex;
		justify-content: center;
    padding-top: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.button
{
		margin: 0 10px 0 10px;
    color: #ff7a00;
		font-weight: bold;
    padding: 12px 25px;
    transition: color .5s ease;
		transition: .3s;
    border: solid 2px #ff7a00;
    text-decoration: none;
		border-radius: 100px;
}

.button:hover
{
    background: #ff7a00;
    text-decoration: none;
    color: white;
}

.carousel-caption h1
{
		font-size: 3em;
}



/* -----NAVIGATION------ */



#navbar
{
		font-family: 'Work Sans', sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #161616;
		/*box-shadow: 0px 0px 0px #000000;*/
		height: 75px;
		margin: 0 auto;
		width: 100%;
		position: fixed;
    z-index: 1;
		top: 0px;
		transition: top 0.3s;
}

.navbar
{
		font-family: 'Josefin Sans', sans-serif;
		display: flex;
		justify-content: space-between;
		align-content: center;
		margin: 0 auto;
		padding: 0 !important;
		width: 60%;
}

nav
{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: left;
		text-align: center;
}

.navName
{
		color: white;
		font-size: 1.2em;
		line-height: 0;
		margin: 0;
}

nav a
{
    padding: 15px 25px;
    font-size: 1.2em;
		color: white;
    transition: .15s;
}

nav a:hover
{
    color: #ff7a00;
    transition: .15s;
}

a:hover
{
		text-decoration: none !important;
}



/* -----FOOTER----- */



footer
{
		background: #161616;
		color: #FFF;
		font-size: 1em;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
}

.footerCont
{
		margin: 0 auto;
		padding: 20px;
		padding-bottom: 50px;
		width: 35%;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
}

.footerElement
{
		padding-top: 20px;
	 	width: 300px;
	 	text-align: left;
}

.iconText
{
		display: flex;
		flex-direction: row;
		padding: 5px;
}

.iconText img
{
		width: 15px;
		height: 15px;
		margin-right: 10px;
}

.alignRight
{
		display: flex;
		justify-content: flex-end;
}

.alignLeft
{
		display: flex;
		justify-content: flex-start;
}



/* -----OTHER PAGES----- */



section
{
    padding: 25px 25px 25px 0px;
    margin: 0 auto;
}

p
{
    font-size: 1em;
		padding-top: 25px;
}

hr
{
    border: solid 2px;
    width: 5%;
		margin-right: 90%;
		margin-top: 15px;
}

.notHome
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
		color: #e2e2e2;
    background-size: cover;
}

.info
{
    width: 95%;
		margin: 0 auto;
		font-family: 'Raleway', sans-serif;
		padding: 120px 30px 30px 30px;
		line-height: 25px;
}

.tint
{
		margin: 0 auto;
		width: 63%;
		background: rgba(0, 0, 0, 0.9);
}

.prof
{
		width: 25%;
		padding: 30px 30px 20px 0px;
		float: left;
}

.spacedP
{
		padding: 40px;
}



/* PROJECTS */



.projects
{
		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		background: #ffffff;
		color: #161616;
		width: 50%;
		margin: 0 auto;
		padding: 60px 0;
}

.projectItem
{
		padding: 50px 20px;

		display: flex;
		flex-direction: row;
}

.description
{
		display: flex;
		flex-direction: column;

		padding-right: 50px;
		width: 100%;
}

.description p
{
		padding-top: 10px;
		font-size: 1.2em;
}

.projectVis a
{
		position: relative;
		display: block;
}

.projectVis img
{
		width: 100%;
		border-radius: 15px;
		transition: 0.3s ease;
}

.projectVis:hover img
{
		transition: 0.3s ease;
		border-radius: 35px;
}

.overlay {
		display: flex;
		justify-content: center;
		align-items: center;

	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  opacity: 0;
	  transition: .3s ease;
		border-radius: 15px;
		color: #fff;
	  background-color: rgba(0, 0, 0, 0.6);
}

.projectVis:hover .overlay
{
		transition: 0.3s ease;
		border-radius: 35px;
		opacity: 1;
		color: #fff;
}

.title
{
    font-size: 4em;
		font-weight: 700;
		letter-spacing: 0px;
    text-align: center;
		margin: 0 auto;
    margin-top: 0px;
		margin-bottom: 15px;
}

.subTitle
{
    font-size: 2..5em;
		font-weight: 700;
		letter-spacing: 0px;
    margin-top: 0px;
		margin-bottom: 15px;
}

.gallery
{
		margin-top: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
}

.gallery a
{
		margin: 0;
		padding: 2%;
		width: 100%;
		height: 100%;
		text-align: center;
}

.gallery img
{
		width: 100%;
		height: 100%;
}



/* PORTFOLIO PAGE */



.portfolio
{
		background: url(../images/averyBackground.jpg);
		background-size: cover;
}

.galleryCont
{
		margin: 0 auto;
		padding-bottom: 50px;
		width: 70%;
}

.gameSection
{
    width: 100%;
		margin: 0 auto;
		color: white;
		font-family: 'Roboto', sans-serif;
		padding-top: 120px;
		background-size: cover;
		line-height: 25px;
}

.subCont
{
		background: rgba(0, 0, 0, 0.9);
		padding: 25px;
		border-radius: 20px;
		margin-left: 5%;
		overflow:hidden;
}

.portTitle
{
		font-family: Lato;
		font-size: 3.75em;
		font-weight: bold;
		padding: 0 0 30px 0;
}

iframe
{
		margin: 20px 30px 30px 0px;
		border-radius: 15px;
		float: left;
}

.alignContent
{
		margin: 30px 5px 30px 0px;
}

.hrBlack
{
		border: solid 2px #000000;
		margin-top: 15px;
}

.portText
{
		padding: 20px 0 0 0;
}

.icon
{
		width: 30%;
		border-radius: 15px;
}



/* RESPONSIVE (1600px Width) */



@media only screen and (max-width: 1600px) {
  nav
	{

  }
}
