html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ABOVE IS CSS RESET */


/* NOMRAL CSS IS BELOW */



body
{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
		color: #161616 !important;
		background-size: cover;
		background-attachment: fixed;
}

html
{
		scroll-behavior: smooth;
}



/* -----HOMEPAGE----- */



header
{
    display: flex;
    align-items: center;
    margin: 0;
    text-align: left;
}

header img
{
    width: 150px;
}

.home hr
{
		width: 100%;
		border: solid 0.5px #989898;
		margin: 50px 0 ;
}

.home
{
    display: flex;
    align-items: center;
		text-align: center;
		background: #ffffff;
		color: #161616;
		width: 60%;
		margin: 0 auto;
		margin-top: 80px;
		padding: 250px 0;
}

.slideshow
{
    display: flex;
    align-items: center;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		background: #161616;
}

.carousel
{
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.centerBox
{
		padding-left: 0px;
    width: 95%;
}

.centerHeader
{
    margin: 0;
    letter-spacing: 2px;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
    padding-bottom: 5px;
    font-size: 4.5em;
}

.header
{
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
		font-weight: bold;
    padding: 15px;
    font-size: 4em;
		text-align: center;
}

.centerSubHeader
{
		font-family: 'Raleway', sans-serif;;
	  letter-spacing: 0px;
    font-size: 2em;
		font-weight: lighter;
}

.columnBox
{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
}

.leftText
{
		font-size: 1.3em;
		text-align: left;
		width: 60%;
}

.rightText
{
		font-size: 1.3em;
		text-align: left;
		width: 30%;
}

.buttonFlex
{
		font-family: 'Raleway', sans-serif;
    display: flex;
		justify-content: center;
    padding-top: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.button
{
		margin: 0 10px 0 10px;
    color: #ff7a00;
		font-weight: bold;
    padding: 12px 25px;
    transition: color .5s ease;
		transition: .3s;
    border: solid 2px #ff7a00;
    text-decoration: none;
		border-radius: 100px;
}

.button:hover
{
    background: #ff7a00;
    text-decoration: none;
    color: white;
}

.carousel-caption h1
{
		font-size: 3em;
}



/* -----NAVIGATION------ */



#navbar
{
		font-family: 'Josefin Sans', sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(22, 22, 22, 1);
		/*box-shadow: 0px 0px 0px #000000;*/
		height: 70px;
		margin: 0 auto;
		width: 100%;
		position: fixed;
    z-index: 1;
		top: 0px;
		transition: top 0.3s;
}

.navbar
{
		display: flex;
		justify-content: space-between;
		align-content: center;
		margin: 0 auto;
		padding: 0 !important;
		width: 60%;
}

nav
{
		width: 60%;
		margin: 0 auto;
		font-size: 0.95em;

		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		flex-direction: row;
		text-align: center;
}

.navName
{
		font-size: 1.4em;
		font-weight: 500;
		line-height: 0;
		color: white;
		margin: 0;
}

nav a
{
    padding: 15px 25px;
    font-size: 1.2em;
		color: #d1d1d1;
    transition: .15s;
}

nav a:hover
{
    color: #ff7a00;
    transition: .15s;
}

a:hover
{
		text-decoration: none !important;
}



/* -----FOOTER----- */



footer
{
		background: #161616;
		color: #FFF;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: light;
}

.subFooterCont
{
		margin: 0 auto;
		padding: 15px 0 5px 0;
		width: 65%;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
}

.footerCont
{
		margin: 0 auto;
		padding: 20px 0 15px 0;
		width: 35%;
		color: #aaaaaa;

		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
}

.footerElement
{
		padding: 10px;
		margin: 0 auto;
	 	text-align: left;
}

.iconText
{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 15px;
		color: #fff;
		transition: 0.2s ease;
}

.iconText i
{
		width: 15px;
		height: 15px;
		margin-right: 10px;
		border-radius: 0;
		transition: 0.2s ease;
		color: white;
}

.link:hover i
{
		transition: 0.2s ease;
		color: #41bbff;
}

.link:hover
{
		transition: 0.2s ease;
		color: #41bbff;
}

.alignRight
{
		/*display: flex;
		justify-content: flex-end;*/
		text-align: right;
}

.alignLeft
{
		display: flex;
		justify-content: flex-start;
}



/* -----OTHER PAGES----- */



section
{
    padding: 25px 25px 25px 0px;
    margin: 0 auto;
}

p
{
    font-size: 1em;
		padding-top: 25px;
}

hr
{
    border: solid 2px;
    width: 5%;
		margin-right: 90%;
		margin-top: 15px;
}

.notHome
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
		color: #e2e2e2;
    background-size: cover;
}

.info
{
    width: 95%;
		margin: 0 auto;
		font-family: 'Raleway', sans-serif;
		padding: 120px 30px 30px 30px;
		line-height: 25px;
}

.tint
{
		margin: 0 auto;
		width: 63%;
		background: rgba(0, 0, 0, 0.9);
}

.prof
{
		width: 25%;
		padding: 30px 30px 20px 0px;
		float: left;
}

.spacedP
{
		padding: 40px;
}



/* PROJECTS */



.projects
{
		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		background: #ffffff;
		color: #161616;
		width: 65%;
		margin: 0 auto;
		padding: 60px 0;
}

.projectPage
{
		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		background: #ffffff;
		color: #161616;
		width: 60%;
		margin: 0 auto;
		margin-top: 80px;
		padding: 60px 0;
}

.descriptionRow
{
		width: 100%;
		padding: 10px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
}

.descriptionRow p
{
		padding-top: 5px;
}

.content
{
		margin: 0 40px 0 0;
		font-size: 1.2em;
}

.content p
{
		text-indent: 40px;
}

.padTop
{
		padding-top: 40px;
}

.paragraph
{
		width: 80%;
}

.projectCont
{
		display: flex;
		flex-direction: row;
}

.projectItem
{
		padding: 40px 20px;

		display: flex;
		flex-direction: row;
}

.black
{
		width: 100%;
		background: #0d0d0d;
}

.description
{
		display: flex;
		flex-direction: column;
		width: 100%;
}

.leftDisplay
{
		text-align: left;
		padding-right: 50px;
}

.rightDisplay
{
		text-align: left;
		padding-left: 50px;
}

.description p
{
		padding-top: 10px;
		font-size: 1.2em;
		text-align: left;
}

.projectVis a
{
		position: relative;
		display: block;
}

.projectVis img
{
		width: 100%;
		border-radius: 20px;
		transition: 0.3s ease;
}

.projectVis:hover img
{
		transition: 0.3s ease;
		border-radius: 45px;
		filter: blur(2px);
}

.overlay
{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  opacity: 0;
	  transition: .3s ease;
		border-radius: 20px;
		color: #fff;
	  background-color: rgba(0, 0, 0, 0.8);
}

.projectVis:hover .overlay
{
		transition: 0.3s ease;
		border-radius: 45px;
		opacity: 1;
		color: #fff;
}

.projects .button
{
		border-radius: 50;
		margin-left: 0;
		margin-right: 25px;
}

.projects .button:hover
{
		color: white;
}

.projects .buttonFlex
{
		justify-content: flex-start;
		padding-top: 10px;
}

.download
{
		background: #ffffff;
		width: 300px;
		text-align: center;
		border: solid 2px #ff8b20;
		padding: 20px 1px;
		font-size: 0.6em;
		display: block;
		color: white;
}

.download h5
{
		margin: 0;
}

.download:hover a
{
		background: #ffffff;
		color: #ffffff;
		font-size: 0.6em;
		display: block;
		color: white;
}

.overlaySubText
{
		color: #bbbbbb;
}

.title
{
    font-size: 4em;
		font-weight: 700;
		letter-spacing: 0px;
    text-align: center;
    margin-top: 50px;
		margin-bottom: 50px;
}

.subTitle
{
    font-size: 2.5em;
		font-weight: 700;
		letter-spacing: 0px;
    margin-top: 0px;
		margin-bottom: 15px;
}

li
{
		font-size: 1em;
}



/* ABOUT */



.about
{
		display: flex;
		flex-direction: column;

		text-align: left;
		font-family: 'Josefin Sans', sans-serif;
		color: #fff;
		width: 65%;
		margin: 0 auto;
		padding: 60px 0;
}

.contact .subTitle
{
		font-family: 'Raleway', sans-serif;
		font-size: 2.25em;
		font-weight: 700;
		letter-spacing: 0px;
		margin-top: 0px;
		margin-bottom: 15px;
		text-align: left;
}

.contact .title
{
		padding: 25px 0 25px 0;
		margin: 0;
}

.summary
{
		font-weight: 300;
		font-size: 1.3em;
		overflow: visible;
}

.summary p
{
		padding-top: 0;
}

.summary img
{
		height: 30%;
		width: 30%;
		border-radius: 15px;
		box-shadow: 10px 10px 20px #000000;
		margin-right: 50px;
		margin-bottom: 20px;
		float: left;
}

.resume img
{
		height: 90%;
		width: 90%;
		margin: 0 auto;
		border-radius: 15px;
		box-shadow: 10px 10px 10px #000000;
		margin-bottom: 75px;
		float: left;
}

.about strong
{
		font-weight: 400;
		color: #ffb660;
}



.subCont
{
		background: rgba(0, 0, 0, 0.9);
		padding: 25px;
		border-radius: 20px;
		margin-left: 5%;
		overflow:hidden;
}

.portTitle
{
		font-family: Lato;
		font-size: 3.75em;
		font-weight: bold;
		padding: 0 0 30px 0;
}

iframe
{
		margin: 20px 30px 30px 0px;
		border-radius: 15px;
		float: left;
}

.alignContent
{
		margin: 30px 5px 30px 0px;
}

.hrBlack
{
		border: solid 2px #000000;
		margin-top: 15px;
}

.portText
{
		padding: 20px 0 0 0;
}


/* RESPONSIVE (1600px Width) */



@media only screen and (max-width: 1775px) {
	.projects .buttonFlex
	{
			justify-content: left;
			flex-direction: column;
			align-self: flex-start;
	}

	.projects .button
	{
			align-self: flex-start;
			margin: 0 0 20px 0;
	}
}
